 <div class="container">
 	<div class="row form">
	 	<form action="/result" method="POST">    
	 	<label for="movie">Search for Movies:</label>
	    <input id="movie" name="movie" type="text" />
	    <input name="commit" type="submit" value="Search!" /> 


	 	</form>
 	</div>
 </div>


  



 